/* Navbar.css */

#navBar {
  padding: 10px;
}

#menuBox {
  display: flex;
  gap: 15px;
}

.hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburgerMenu span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}
/* For screens below 768px */
@media screen and (max-width: 768px) {
  #navBar {
    width: 98.5vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  #menuBox {
    display: none; /* Hide the menu on smaller screens */
  }

  .hamburgerMenu {
    display: flex; /* Show the hamburger menu */
    /* margin-top: 10px; Adjust this value to move the hamburger lower */
  }

  /* When the menu is open, display the menu items */
  #menuBox.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px; /* Adjust as per your design */
    right: -5px;
    background-color: #ad2dcd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }

  .menuItem,
  .btn {
    color: white;
    padding: 10px;
    text-align: center;
  }
}
