/* Navbar.css */

#navBar {
  padding: 10px;
  height: 12vh;
}

#menuBox {
  display: flex;
  gap: 15px;
}

.hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.btn1 {
  padding: 12px 18px;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.hamburgerMenu span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}
/* For screens below 768px */
@media screen and (max-width: 768px) {
  #navBar {
    width: 98.5vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .custom-width {
    width: 93.5vw !important;
  }

  .custom-width2 {
    width: 97.5vw !important;
  }

  #menuBox {
    display: none; /* Hide the menu on smaller screens */
  }

  .hamburgerMenu {
    display: flex; /* Show the hamburger menu */
    /* margin-top: 10px; Adjust this value to move the hamburger lower */
  }

  /* When the menu is open, display the menu items */
  #menuBox.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 11svh; /* Adjust as per your design */
    right: -2svw;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }

  .menuItem {
    color: black;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
  .btn {
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 19px;
  }
  .btn1 {
    color: white;
    padding: 15px;
    text-align: center;
    border: none;
    color: black;
    font-size: 17px;
    border-radius: 20px;
  }
}
